@model PetApp.Models.Pet

@{
    ViewData["Title"] = "Edit";
}

<div class="pet-details">
    <form asp-action="Edit">
        <header class="pet-details-header">
            <h2>Edit @Html.DisplayFor(model => model.AnimalName)</h2>
            
            <div class="btn-group">
                <a asp-action="Index" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                    Back to List
                </a>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    Save
                </button>
            </div>
        </header>

        <input type="hidden" asp-for="ID" />

        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>

        <div class="col-md-4">
            <img src="@Html.DisplayFor(model => model.PhotoUrl)" alt="@Html.DisplayFor(model => model.AnimalName)">
        </div>

        <div class="col-md-4">
            <h3>Pet Details</h3>
        
            <div class="form-group">
                <label asp-for="RegisterDate"></label>
                <input asp-for="RegisterDate" class="form-control" />
                <span asp-validation-for="RegisterDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SerialNum"></label>
                <input asp-for="SerialNum" class="form-control" />
                <span asp-validation-for="SerialNum" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnimalCategory"></label>
                <input asp-for="AnimalCategory" class="form-control" />
                <span asp-validation-for="AnimalCategory" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Breed"></label>
                <input asp-for="Breed" class="form-control" />
                <span asp-validation-for="Breed" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AnimalName"></label>
                <input asp-for="AnimalName" class="form-control" />
                <span asp-validation-for="AnimalName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <h3>Owner Details</h3>
            
            <div class="form-group">
                <label asp-for="OwnerName"></label>
                <input asp-for="OwnerName" class="form-control" />
                <span asp-validation-for="OwnerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerStreet"></label>
                <input asp-for="OwnerStreet" class="form-control" />
                <span asp-validation-for="OwnerStreet" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OwnerState"></label>
                <input asp-for="OwnerState" class="form-control" />
                <span asp-validation-for="OwnerState" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OwnerZip"></label>
                <input asp-for="OwnerZip" class="form-control" />
                <span asp-validation-for="OwnerZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerPhoneNum"></label>
                <input asp-for="OwnerPhoneNum" class="form-control" />
                <span asp-validation-for="OwnerPhoneNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl"></label>
                <input asp-for="PhotoUrl" class="form-control" />
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
