@{
    ViewData["Title"] = "Home Page";
}

<div class="bg-img">
    <div class="content-section">
        <div class="jumbotron">
            <h1>Pet Microchip Manager</h1>
            <p class="lead">Search the database for a specific animal by microchip number, or search by pet type or location.  You may edit or delete the pet information after you search for and find what you're looking for.</p>
            <div class="pet-options">
                <a class="btn btn-lg btn-primary" href="/Pets">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Search
                </a>
                <span class="or">or</span>
                <a class="btn btn-lg btn-primary" href="/Pets/Create">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add new pet
                </a>
            </div>
        </div>
    </div>
</div>